@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --font-inter: "Inter", Arial, sans-serif;
}

body {
  background: #F9F9FA;
  color: var(--foreground);
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}
